<?xml version="1.0"?>
<launch>
    <arg name="gazebo_world" default="bricks"/>
    <arg name="init_pos" default="0.0, 0.0, 2.0" />
    <arg name="target_pos_z" default="1.5" />
    <arg name="move_vel" default='2.0' />
    <arg name="plan_mode" default='segment' />
    <!-- available options: global, fix_time, rush -->
    <arg name="map_server" default="octomap" />
    <!-- available options: octomap, pcl -->

    <include file="$(find simulator)/launch/sim_global.launch">
        <arg name="gazebo_world" value="$(arg gazebo_world)" />
    </include>

    <node pkg="simulator" type="mavros_node.py" name="mavros_node" output="screen">
        <param name="init_pos" value="$(arg init_pos)" />
    </node>

    <include file="$(find planner)/launch/single_drone_planner.launch">
        <arg name="target_pos_z" value="$(arg target_pos_z)" />
        <arg name="move_vel" value="$(arg move_vel)" />
        <arg name="plan_mode" value="$(arg plan_mode)" />
        <arg name="map_server" value="$(arg map_server)" />
    </include>

</launch>
