<?xml version="1.0"?>
<launch>
    <arg name="frame_id" default="map"/>
    <arg name="pcl_topic" default="/pointcloud/output"/>
    <arg name="gazebo_world" default="poles"/>
    <arg name="sensor_max_range" default="inf"/>

    <!-- publish pointcloud -->
    <node pkg="simulator" type="publish_pointcloud" name="publish_pointcloud">
        <param name="path" type="str" value="$(find simulator)/worlds/$(arg gazebo_world).pcd" />
        <param name="frame_id" type="str" value="$(arg frame_id)" />
        <param name="topic" type="str" value="$(arg pcl_topic)" />
        <param name="hz" type="int" value="2" />
    </node>

    <!-- Octomap -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">

        <!-- name of the fixed frame, needs to be "/map" for SLAM -->
        <param name="frame_id" type="string" value="$(arg frame_id)" />

        <!-- topic from where pointcloud2 messages are subscribed -->
        <remap from="/cloud_in" to="$(arg pcl_topic)" />

        <!-- resolution in meters per pixel -->
        <param name="resolution" value="0.1" />

        <!-- max range / depth resolution of the kinect in meter -->
        <param name="sensor_model/max_range" value="$(arg sensor_max_range)" />
        <param name="latch" value="false" />

        <param name="filter_ground" value="ture" />

        <!-- max/min height for occupancy map, should be in meters -->
        <param name="pointcloud_max_z" value="1000" />
        <param name="pointcloud_min_z" value="0" />

        <!-- generate 2D occupancy map from this interval -->
        <param name="occupancy_min_z" value="0.5" />
        <param name="occupancy_max_z" value="10" />

    </node>

</launch>
